<h1>Hi, <%= @user.name.capitalize %></h1>

<h1> Welcome to the Elevate Medical Fitness Application </h1>
<h3> Please choose a task: </h3><br>

<%= link_to "Create a new Patient", new_patient_path %><br />
<p>
<%= link_to "Search for a Patient", patients_path %><br />
<p>
<%= link_to "Edit a  current Patient", patients_path %><br />
<p>
<%= link_to "Generate a Patient Report", patients_path %><br />
<p>
<%= link_to "Remove Patient from System", patients_path %><br />



<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
<input type=submit value='logout'>
<% end %>
